colorama==0.3.3
cx-Freeze==4.3.4
Flask==0.10.1
flexmock==0.9.7
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mutagen==1.31
openpyxl==2.3.0
pbr==1.8.0
Pillow==2.9.0
py==1.4.30
PyAutoGUI==0.9.31
PyHamcrest==1.8.5
PyMsgBox==1.0.3
PyScreeze==0.1.7
pytest==2.7.3
python-dateutil==2.4.2
PyTweening==1.0.2
PyYAML==3.11
requests==2.7.0
six==1.9.0
stevedore==1.8.0
Werkzeug==0.10.4
